  
<!DOCTYPE html>
<script>
</script>
<html>
  <head>
    <meta charset="utf-8" />
    <title>This Is The New Covid Registration</title>
    <link href="./styles.css" rel="stylesheet">
    <script type="text/javascript" src="./script1.js"> </script>

  </head>


  <body>
      <div id="header">
    <header>


    <h1>Covid Registration (Status: <%= status %>)</h1>
    </header>
    
    <img id="injection" src="./injection.jpg" height="200" width="150">
    <img id="injection2" src="./injection2.jpg" height="200" width="150">
    </div>
    <div id="block1">
    <h2>Covid Registration Form</h2>
    <p>Please fill in this form to add your information to our table.</p>
    <p>  <br> </p>
    <form name="form1" method="post" onsubmit="return processFormSubmission();" action="/" >
        <div>
            <label for="name">Name:</label> </body> </div>
            <div>
            <input type="text" id="name" name="name" placeholder="Joe" required>
        </div>

        <div>
            <label for="surname">Surname:</label>
        </div>
        <div>
            <input type="text" id="surname" name="surname" placeholder="Soap" required>
        </div>

        <div>
            <label for="date">Date Vaccinated:</label>
        </div>
        <div>
            <input type="date" id="date" name="date" required>
        </div>

        <div>
            <label for="Vaccine Type">Type of vaccine:</label> <div>
            <input type="text" id="vaccinetype" name="vaccinetype" placeholder="Moderna" required>
            </div>
        </div>


        <div>
            <label for="location">Location where vaccine was received:</label>
        </div>
        <div>
            <input type="text" id="location" name="location" placeholder="Cape Town" required>
        </div>
        
        <div id="target">
            <input type="submit" value="Submit" id="submit"/>
        </div>
    </form>
</div>
<div id="tableblock">
    <div >
        <h2>Registration Table</h2>
    </div>
    <div  id="div5">


        <table id="table1">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Date</th>
                <th>Vaccine Type</th>
                <th>Location</th>
            </tr>

            <% if ( typeof(users) =="undefined") { %>
                <tr>Please refrest to see new table.</tr> 
              <% } else { %> 
                <% for (let i = 0; i < users.length; i++) { %>
                  <tr><td><%= users[i].Name %></td> <td> <%= users[i].Surname %> </td> <td> <%= users[i].Date %> </td> <td> <%= users[i].Vaccinetype %> </td> <td> <%= users[i].Location %> </td> </tr>
                <% } %>
            <% } %>

        </table>
    </div>
    </div>
</body>
</html>

